# host
host = localhost:8080/api/

# user api
signUp=reg
makeTrust=trust
makeFriends=makeFriends
updatePassword=update/password
updateDetails=update/details

# message api
send=action/send
deleteSend=action/delete/send
deleteReceived=action/delete/received
syncMailbox=sync/mailbox
syncInbox=sync/inbox
syncOutbox=sync/outbox